<!doctype html>
<html>
<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>

<body style="font-family:arial, sans-serif">
    <h1 style="background:lightblue;padding:10px">
            Group 5 Project 3
    </h1>
    
    <p>Click to see charts on different pages</p>
    
    <h1><a href="gina_allhosts_stacked">All Hosts Charts (stacked)</a></h1>
    <h1><a href="gina_allhosts_grouped">All Hosts Charts (grouped)</a></h1>
    <h1><a href="gina_superhosts">Superhost Chart</a></h1>
    <h1><a href="gina_superhosts_avg_price">Avg Price Chart</a></h1>

</body>

 

</html>
